#about_us_title{
    font-family: calibri;
    font-size: 24px;
    color: #686767;
    font-weight: bold;
    text-align: left;
}

#about_us_content{
    font-family: calibri;
    font-size: 18px;
    color: #686767;
    text-align: left;
}

#careers_title{
    font-family: calibri;
    font-size: 24px;
    color: #686767;
    font-weight: bold;
    text-align: left;
}

#careers_content{
    font-family: calibri;
    font-size: 18px;
    color: #686767;
    text-align: left;
}

#terms_of_use_title{
    font-family: calibri;
    font-size: 18px;
    color: #686767;
    font-weight: bold;
    text-align: left;
}

#terms_of_use_contain{
    font-family: calibri;
    font-size: 14px;
    color: #686767;
    text-align: left;
}

#terms_of_use_contain_feat{
    font-family: calibri;
    font-size: 14px;
    color: #686767;
    text-align: left;
    padding-left: 20px;
}

#signup{
    margin:0 auto;
    height: 60px;
    line-height: 60px;
    width: 300px;
    font-family: calibri;
    font-size: 30px;
    font-weight: bold;
    text-shadow: #666 3px 2px 3px;
    background: #ff1a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff1a00 0%, #ff6666 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff1a00), color-stop(100%,#ff6666)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff1a00 0%,#ff6666 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff1a00 0%,#ff6666 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff1a00 0%,#ff6666 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff1a00 0%,#ff6666 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff6666',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-box-shadow:    3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
    box-shadow:         3px 3px 3px #999;
    border: 1px solid #FF0000;
}