#about_us_title{
    font-family: calibri;
    font-size: 24px;
    color: #686767;
    font-weight: bold;
    text-align: left;
}

#about_us_content{
    font-family: calibri;
    font-size: 18px;
    color: #686767;
    text-align: left;
}

#careers_title{
    font-family: calibri;
    font-size: 24px;
    color: #686767;
    font-weight: bold;
    text-align: left;
}

#careers_content{
    font-family: calibri;
    font-size: 18px;
    color: #686767;
    text-align: left;
}