/* 
Credits: Bit Repository
*/

#contact-area { margin-left: auto; margin-right: auto; width: 530px; font-family: Verdana; font-size: 12px; padding: 0; border: 0px none; }
#contact-area h1 { font-family:"Myriad Pro",Arial,Helvetica,Tahoma,sans-serif; font-size: 19px; font-weight:lighter; background: white url('../images/icon-mail.png') no-repeat scroll 34% 47%;  height: 27px; text-align: center; margin: 10px 0px 10px 0px; }

#note { display:none; }

.notification_ok { margin: 0 auto; background: #f5f9fd url('../images/icon-button-ok.png') no-repeat scroll 15px 50%; height: 26px; width: 90%; padding: 8px 0px 0px 46px; text-align: left; -moz-border-radius: 5px; }
.notification_error { margin: 0 auto; background: #FDF4F5 url('../images/icon-dialog-error.png') no-repeat scroll 4% 4px; height: auto; width: 90%; padding: 8px 0px 8px 46px; text-align: left; -moz-border-radius: 5px; }

.hide { display:none; }

/* Label */
#fields label { width: 130px; padding-left: 20px; margin: 8px 19px 8px 8px; float: left; text-align: right; }

/* Input, Textarea */
#fields input { background-color: #fefefe; margin: 5px; padding: 0px; float: left; margin: 5 5 5 0; padding: 2px; border: 1px solid #dedede; color: #333333; -moz-border-radius: 3px; }
#fields textarea { background-color: #fefefe; width: 300px; margin: 5px; padding: 0px; float: left; margin: 5 5 5 0; padding: 2px; border: 1px solid #dedede; color: #333333; -moz-border-radius: 3px; }

#fields input.error { border: 1px solid #F3CCBE; }
#fields textarea.error { border: 1px solid #F3CCBE; }

#fields input.ok { border: 1px solid #B9E7AE; }
#fields textarea.ok { border: 1px solid #B9E7AE; }

#fields label.error { font-size: 11px; color: red; margin: 0px 0px 9px 178px; width: 300px; text-align: left; padding: 0px; }

/* Submit Button */
#fields .button { cursor: pointer; width: 135px; background: white url('../images/icon-submit.png') no-repeat scroll 11px 50%; border-color:#EDEDED #999999 #999999 #EDEDED; border-style:solid; border-width:1px; color: #333333; padding: 6px 1px 8px 25px; -moz-border-radius: 3px; }

/* br */
#fields br { clear: left; }

/* The icon used to reload the CATPCHA */
#icon-refresh { margin: 0 0 7px 0; }

/* CAPTCHA Verified */
#verified .ok { margin: 0px; } 

/* A CAPTCHA DIV */
#sec_div { float: left; }

/* Highlight Rows */
.highlighted { width: 530px; background-color: #FFFFEF; }

/* Style the error messages */
.styled { font-style: italic; }