@charset "utf-8";

a:link{
    color: #000000;
}

a:visited{
    color: #000000;
}

#top_search{
    border: 0;
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    padding-top: 19px;
}

#search-field{
    width: 550px;
    height: 52px;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

#form_search{
    margin: 0 auto;
    border: 0px;
    padding: 0 0 0 0;
}

#search_form{
    width: 440px;
    height: 49px;
    font-family: verdana;
    font-size: 18px;
    color: #324957;
    padding-left: 10px;
    border: 0px;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-style: inset;
}

#button-buscar{
    background: url(http://blue-broker.com.br/core/app/top/img/button/buscar.png) no-repeat;
    width: 96px;
    height: 48px;
    font-family: calibri;
    font-size: 24px;
    color: #FFF;
    border: 0px;
    margin-right: 2px;
    float: right;
    margin-top: 2px;
    cursor:pointer;
}

input:focus {
    outline: none;
}

textarea:focus{
    outline:none;
}